.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #2c3e50;
  color: white;
  padding: 20px;
 text-decoration: none;
 
}

.content {
  flex: 1;
  padding: 20px;
}

.setores {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
}

.alerta {
  color: #c0392b;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.vermelho {
  color: #c0392b;
}